html{
  font-family: sans-serif;
}
header{
	background: #533c2c;
	width: 100%;
	/*padding: 40px 0;*/
	color: white;
	text-align: center;
    vertical-align:text-top;
}
nav ul{ 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: #533c2c;
	color: white;
	padding: 0;
	margin: 0;
	text-align: center;
	overflow: hidden;
    border-radius:5px 5px 5px 5px;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
}
nav ul li{
	display: inline-block;
	padding: 20px;
}
nav ul li:hover{
	background-color: #1e1111
}
a{
	text-decoration: none;
	color: inherit;
}
section{
	line-height: 1.5em;
	font-size: 0.9em;
	padding: 40px;
	margin: 0 auto;
	max-width: 1300px;
   
}
footer{
	text-align: center;
	width: 100%;
	font-size: 0.8em;
	padding-bottom: 30px;
}
.handle {
	width: 100%;
	background-color: #005C48;
	box-sizing: border-box;
	padding: 15px;
	cursor: pointer;
	color: white;
	display: none;
}
p.menu{
	display: inline-block;
}
.menu_icon div {
  background-color: white;
  border-radius: 2px;
  width: 35px;
  height: 5px;
  margin: 5px;
}
.menu_icon{
	float: right;
	margin: .5em 0;
}
@media screen and (max-width: 620px){
	nav ul{
		max-height: 0px;
	}
	nav ul li{
		box-sizing: border-box;
		width: 100%;
		padding: 15px;
	}
	.showing{
		max-height: 20em; 
	}
	.handle{
		display: block;
	}
	header h1{
		font-size: 3em;
	}
}



